.root {
  max-width: 1294px;
  margin: 20px auto 0;
  border-radius: 6px;
  background: #191919;
  text-align: center;
  padding-bottom: 20px;
  .title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0;
  }
  .shoesFlexBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
}
