.root {
  max-width: 1254px;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 6px;
  background: #191919;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
    @media (max-width: 460px) {
        flex-direction: column;
        gap: 20px;
    }
  .icons {
    display: flex;
    align-items: center;
    img {
      &:first-child {
        width: 22px;
        height: 21px;
      }
      &:last-child {
        width: 55px;
        height: 17px;
      }
    }
  }
  h4 {
    color: #576067;
    font-size: 12px;
    font-weight: 500;
    span {
      color: #6c3eb8;
    }
  }
  .iconBlock {
    color: #576067;
    display: flex;
    gap: 16px;
    svg {
      width: 25px;
      height: 25px;
      transition: .4s;
      cursor: pointer;
      &:hover{
        color: #6c3eb8;
      }
    }
  }
}
